@charset "utf-8";
/* CSS Document */

*{
	margin: 0;
}

.text{
	width: 100px;
	margin: auto;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-display: block;
	align-content: center;
}
.text h1{
	align-content: center;
	margin: 0 auto;
	align-self: center;
}


.hero{
	position: fixed;
	width: 100%;
	top:40%;
}

.button{
	margin: auto;
	width: 6em;
	height: 2em;
	background-color: red;
	text-align: center;
	transition-duration: 5s;
	transition-timing-function: ease;
}

.button:hover{
	height: 1000em;
	background-color: orange;
}
	
.hi{
}
	
