@charset "utf-8";
/* CSS Document */

@keyframes backgroundcolor {
	from {background-color:#5E97DB ;}
	to {background-color:#FF8300;}
}

body{
	margin: 0 ;
	font-family:"Segoe UI"
}
a{
	text-decoration: none;
}
header{
	position: fixed;
	background-color:#5E97DB; 
	width: 100%;
	padding: 0;
	height: 80px;
	z-index: 100;
}
header h1 {
	float: left;
	font-family: "segoe UI";
	margin-left: 5%;
	margin-top: 40px;
}
header h1 a{

	color: white;
}
header h1 a:hover {
	color: #FFC17F;
}
header ul{
	display: inline-block
}
header ul li{
	display: inline-block;
	list-style-type: none;
	font-family: "segoe UI";
	color: white;
	font-weight: 400;
	font-size: 24px;
	margin-top: 20px;
	padding: 10px;
}
header ul li a{
	color: white;
}

header ul li a:hover {
	color: #FFC17F;
}

.main {
	background-color:#5E97DB ;
	font-family:"Segoe UI";
	color: white;
	height:700px;
	animation-name: backgroundcolor;
	animation-duration: 3s;
	animation-direction: reverse;
}

.column img{
	position: relative;
	display: block;
	width: 550px;
	margin: 0 auto;
	top: 11px;
}
#kuna{
	position: absolute;
	top: 200px;
	margin: 0 auto;
	text-align: center;
	font-size: 140px;
	z-index: 0;
	width: 100%;
	word-spacing: 1em;
}

/*
#kuna{
	position:relative;
	display:block;
	text-align: left;
	top:-350px;
	font-size: 120px;
	z-index: 0;
	text-transform: uppercase;
}
#what{
	position:absolute;
	display:block;
	text-align: left;
	top: 40%;
	font-size: 180px;
	right: 50%;
	z-index: 2;
	text-transform: uppercase;
}
*/
.aboutme{
	position: relative;
	text-align: left;
	margin: 30px 8%;
	padding-bottom: 150px;
}
.aboutme h1{
	text-align: center;
}
.button h2{
	font-size: 1.2em;
	width: 130px;
	font-weight: 500;
}
.button {
	position: relative;
	display: block;
	width: 120px;
	height: 60px;
	padding: 0 25px;
	border: 1px solid #FFC17F;
	top: -80px;
	left: 250px;
	margin: 0 auto;
	background-color: #FFC17F;
	border-radius: 30px;
	z-index: 100;
	color: black;
}
.button:hover {
	color: white;
}
