.box2{
	background-image:url("../../projects/Speaker/Top view.jpg");
}

#mathmate{
	background-image: url("../../projects/mathMate/Math Mate.jpg")
}
#aboon{
	background-image: url("../../projects/aboon/aboon.png")
}
#speaker{
	background-image: url("../../projects/Speaker/Speaker.jpg")
}
#printer3D{
	background-image: url("../../projects/3DPrinter/3DPrinter.jpg")
}
