#p1{
	background-image: url("../../projects/mathMate/Math Mate.jpg")
}
#p2{
	background-image: url("../../projects/aboon/aboon.png")
}
#p3{
	background-image: url("../../projects/Speaker/Speaker.jpg")
}
#p4{
	background-image: url("../../projects/3DPrinter/3DPrinter.jpg")
}
