@charset "utf-8";
/* CSS Document */

.row{
	display: grid;
	margin: 4rem auto;
	grid-template-columns: 20px 1fr 1fr 20px;
	width: 80%;
	height: 20rem;
}
.row .text{
	margin: auto 1rem auto 2rem;
	text-align: justify;
}
.row .text h2{
	font-size: 2rem;
	text-align: left;
}
.row .text p{
	margin-top: 1rem;
}
.row .image{
	background-size: cover;
	image-resolution: snap;
}
.row .line{
	height: 80%;
	width: 10px;
	margin: auto 0;
}
.row .line.one.start{
	background-color: #0CDB39;
}
.row .line.one.end{
	background-color: #097AE6;
}
.row .line.two.start{
	background-color: #A820D6;
}
.row .line.two.end{
	background-color: #F19C00;
}
.line.end{
	margin-left: 10px;
}

@media only screen 
	and (max-width : 880px) {
		.row{
			grid-template-columns: 1fr;
			grid-template-rows: 20px 1fr 1fr 20px;
			height: 40rem;
		}
		.row .line{
			height: 10px;
			width: 80%;
			margin: 0 auto;
		}
		.row .image{
			grid-row: 2/3;
		}
		.row .text h2{
			text-align: center;
			margin: 1rem 0;
		}
		.row .text{
			margin: 0 auto;
		}
}