@charset "utf-8";
/* CSS Document */

.hero{
	background-position: center;
	background-size: cover;
	height: 95vh;
	width: 100%;
	image-resolution: snap;
	text-align: justify;
}

.whitebox{
	background-color: white;
	display: block;
	width: 600px;
	position: absolute;
	top: 25vh;
	left: 5rem;
	padding: 2rem;
}
.whitebox h1{
	font-size: 3.5rem;
}
.whitebox p{
	margin-top: 0.5rem;
}
.support{
	margin-top: 2rem;
	height: 100px;
}

/* Break 1 */
@media only screen 
and (max-width : 880px) {
	.whitebox{
		width: 400px;
		position: relative;
		margin: auto;
		left: 0;
	}
	.support{
		height: 80px;
	}
@media only screen 
and (max-width : 472px) {
	.whitebox{
		width: 240px;
	}
	.support{
		width: 250px;
		height: auto;
	}
	.whitebox{
		background-color: rgba(255,255,255,0.8);
	}
	.whitebox h1{
		font-size: 2rem;
	}
}
@media only screen 
and (max-height : 700px) {
	.hero{
		max-height: 100%;
		min-height: 650px;
	}
}