@charset "utf-8";
/* CSS Document */
*{
	margin: 0;
	font-size: 18px;
	font-family: "Helvetica Neue", Helvetica, Arial, "sans-serif"
}
.collapse{
	display: none;
}

nav{
	position: fixed;
	height: 80px;
	width: 100%;
	display: inline-block;
	background-color: white;
	z-index: 10;
}
.logo{
	display: inline-block;
}
.logo h2{
	position: relative;
	display: inline-block;
	font-size: 32px;
	color: black;
	font-weight: 400;
	bottom: 1rem;
}
.logo img{
	height: 60px;
	margin: 0.5rem 0 0 1rem;
}
.logo a{
	text-decoration: none;
}
.nav{
	font-size: 18px;
	display: block;
	float: right;
}
.nav a{
	display: inline-block;
	margin-right: 2rem;
	margin-top: 2rem;
	text-decoration: none;
	color: black;
}
.nav .Products:hover{
	color: #28B034;
}
.nav .Workshop:hover{
	color: #097AE6;
}
.nav .ProfessionalDev:hover{
	color: #F19C00;
}
.nav .AboutUs:hover{
	color: #A820D6;
}

/* Break 1 */
@media only screen 
and (max-width : 880px) {
	nav{
		height: 100px;
		display: block;
	}
	.logo{
		display: block
	}
	.logo img{
		height: 40px;
	}
	.logo h2{
		font-size: 24px;
		bottom: 0.5rem;
	}
	.nav{
		float: none;
		text-align: center;
	}
	.nav a{
		margin: 10px 1rem 0;
	}
}
@media only screen 
and (max-width :620px) {
	nav{
		overflow: hidden;
		height: 80px;
		transition: 0.4s;
	}
	.logo img{
		height: 60px;
	}
	.logo h2{
		bottom: 1rem;
	}
	.nav a{
		display: block;
	}
	.collapse{
		display: block;
		position: fixed;
		right: 1rem;
		top:1.5rem;
	}
	.container {
    	display: inline-block;
    	cursor: pointer;
	}
	
	.bar1, .bar2, .bar3 {
	    width: 35px;
	    height: 5px;
	    background-color: #333;
	    margin: 6px 0;
	    transition: 0.4s;
	}
	
	.change .bar1 {
	    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
	    transform: rotate(-45deg) translate(-9px, 6px);
	}
	
	.change .bar2 {opacity: 0;}
	
	.change .bar3 {
	    -webkit-transform: rotate(45deg) translate(-8px, -8px);
	    transform: rotate(45deg) translate(-8px, -8px);
	}
	nav.change{
		height: 220px;
	}
}
