@charset "utf-8";
/* CSS Document */

.nav .ProfessionalDev{
	color: #F19C00!important;
}
.hero.pd{
	background-image: url(../ForNowPic/pd_hero.jpg);
}
.EdtechInClass .image{
	background-image: url(../ForNowPic/../ForNowPic/IMGP7894.jpg);
}
.MathMateProducts .image{
	background-image: url(../ForNowPic/IMGP7926.jpg);
	background-position: center;
}