@charset "utf-8";
/* CSS Document */
.hero.workshop{
	background-image: url(../ForNowPic/../ForNowPic/IMGP7888.jpg);
}

.centurylearners .image{
	background-image: url(../ForNowPic/IMGP7980.jpg);
	background-position: right;
}

@media only screen 
	and (max-width : 880px) {
		.centurylearners .image{
			background-position: center;
		}
}